<%- include('./partials/navbar3') %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">Login</h1>
        <%- include('./partials/messages') %>
        <form action="/users/change-password" method="POST">
          <div class="form-group">
            <label for="emaild">Email</label>
            <input
              type="emaild"
              id="emaild"
              name="emaild"
              class="form-control"
              value="<%= emailc %>"
              disabled
            />
          </div>
          <div class="form-group" hidden>
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              value="<%= emailc %>"
            />
          </div>
          <div class="form-group">
            <label for="otpCode">OTP</label>
            <input
              type="otpCode"
              id="otpCode"
              name="otpCode"
              class="form-control"
              placeholder="Enter OTP"
            />
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>

  
<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
</style>
  